<div class="body">
	<div class="bxslider">
		<!-- <h3>This is a FREE website template</h3> -->
		<!-- <p>This website template has been designed by Free Website Templates for you, for free. You can 
		replace all this text with your own text. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi 
		enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
		<input type="button" value="Read more" onClick="parent.location='blog.html'"/> -->
		  <li><%=image_tag "http://placehold.it/940x528", :alt => "" %></li>
		  <li><%=image_tag "http://placehold.it/940x528", :alt => "" %></li>
		  <li><%=image_tag "http://placehold.it/940x528", :alt => "" %></li>
		  <li><%=image_tag "http://placehold.it/940x528", :alt => "" %></li>
	</div>

	<ul class="blog">
		<li>
			<div>
				<%=link_to image_tag("cha-ca-nhong.jpg", :alt =>"", :height=>"168", :width=>"258"), :href => "#blog.html" %>
				<p>Cha ca nhong</p>
				<a href="#blog.html">Click to read more</a>
				<%= yield %>
			</div>
		</li>

		<li>
			<div>
				<%=link_to image_tag("cha-ca-do-cu.jpg", :alt =>"", :height=>"168", :width=>"258"), :href => "#blog.html" %>
				<p>Cha ca do cu</p>
				<a href="#blog.html">Click to read more</a>
				<%= yield %>
			</div>
		</li>

		<li>
			<div>
				<%=link_to image_tag("cha-ca-song.jpg", :alt =>"", :height=>"168", :width=>"258"), :href => "#blog.html" %>
				<p>Cha ca song</p>
				<a href="#blog.html">Click to read more</a>
				<%= yield %>
			</div>
		</li>
	</ul>
</div>