<div class="body">
	<div class="bxslider">
		<!-- <h3>This is a FREE website template</h3> -->
		<!-- <p>This website template has been designed by Free Website Templates for you, for free. You can 
		replace all this text with your own text. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi 
		enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
		<input type="button" value="Read more" onClick="parent.location='blog.html'"/> -->
		  <li><%=image_tag "chaca-chien.jpg", :width => "940", :height => "528", :alt => "" %></li>
		  <li><%=image_tag "chaca-chien2.JPG", :width => "940", :height => "528", :alt => "" %></li>
		  <li><%=image_tag "chaca-chien3.jpg", :width => "940", :height => "528", :alt => "" %></li>
		  <li><%=image_tag "chaca-chien4.jpg", :width => "940", :height => "528", :alt => "" %></li>
	</div>

	<ul class="blog">
		<%@posts.each do |post|%>
			<li>
				<div>
					<%=link_to image_tag("chaca-chien4.jpg"),post, :width=>"258px", :height=>"168px", :alt => " "%>
					<p> <%=post.title%>	</p>	
					<%=link_to "Click to read more", post, :class=> "button redbutcolor"%>
				</div>
			</li>
		<%end%>
	</ul>
</div>