<%@posts.each do |post|%>
				<div class="menutypelist cf">
					<div class="menutypeitem">
						<div class="menuimage">
							<%=link_to image_tag("#{post.image}"), :class=>"attachment-menu-grid wp-post-image", :height=>"220px", :width=>"330px"%>
							<div class="mask">
								<%=link_to post do %>
								   <span> + </span>
								<%end%>
							</div>
						</div>
						<div class="whitebox cf">
							<div class="title">
								<%=post.title%>
							</div>
							<div class="descr">
								<%=link_to post.description[0..200]+'..' %>
							</div>

							<div class="menubottom cf">
								<div class="menulink fl">
									<%=link_to "Read more", post, :class=> "button redbutcolor", :style=>"float:left;margin-top:-15px;"%>
								</div>
								<div class="pricemenu fr">
									<!--<%=number_to_currency(post.price, precision: 0)%>-->
									<%=button_to 'Add to Cart', line_items_path(:post_id => post), :class => 'cart', :style => "width:80px; margin-top: -32px; float:left; background-color:#D1F806"%>
								</div> 
								
							</div>
						</div>
					</div>
				</div>

				<div class="paginationbox">
				</div>
<%end%>