<!DOCTYPE html>
<html>
<head>
  <title>ChaCaNhaTrang</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js" %>
  <%= javascript_include_tag "jquery.slides.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="page">
		<%=render :partial => "shared/header" %>
		<%=render :partial => "shared/body"   %>	
		<%=render :partial => "shared/footer" %>	
	</div>
</body>
</html>
